*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%;
}
.resume-wrapper{
    width: 70%;
}
.header{
    background-color:#343d68;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.image img{
    height: 15em;
    width: 15em;
    background-color: rgb(218, 218, 218);
}
.details{
    padding-right: 18em;
}
.details h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4em;
    color: white;
    letter-spacing: .05em;
    font-weight: 200;
}
.details h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    color: white;
    letter-spacing: .05em;
    font-weight: 100;
}
.contacts-div{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    gap: .5em;
}
.contact{
    color: rgb(180, 180, 180);
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 1em;
}

.contact:hover{
    text-decoration: underline;
    color: white;
}

.socials{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-right: 2%;
}
.linkedin a{
    display: flex;
    align-items: center;
}
.socials a{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8em;
}
.socials a i{
    font-size: 2em;
    margin-right: .2em;
}
.bi-linkedin{
    scale: 110%;
}
.socials a:hover{
    text-decoration: underline;
}
.github a{
    display: flex;
    align-items: center;
}
#github i{
    background-color: white;
    color: #343d68;
    border-radius: 10%;
    padding: .3%;
}
#location{
    cursor:default;
}
#location i{
    background-color: white;
    color: #343d68;
    padding: .3%;
    border-radius: 10%;
}
#location:hover{
    text-decoration: none;
}
.career-summary h2{
    font-weight: 600;
    display: inline-block;
    border-bottom: .05em solid black;
    padding-bottom: .5em;
    margin-bottom: 2.25em;
    width: 100%;
}
.content-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.career-summary{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    padding: 20px;
}
.career-summary p{
    margin-top: -3%;
    font-weight: 400;
}
.work-experience{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';
    padding: 20px;
    flex: 2;
    margin-right: 20px;
}
.content-wrapper-2{
    display: flex;
    flex-wrap: wrap;
}

.timeline{
    position: relative;
    padding-left: 20px;
}


.timeline-item{
    margin-bottom: 20px;
}
.timeline-item ul{
    list-style-type: disc;
    padding-left: 4%;
}

.work-experience h2{
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: 600;
    border-bottom: 1px solid black;
    padding-bottom: .5em;
}

.work-experience h3{
    font-size: 1.2em;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}
.work-experience h4{
    font-size: 1em;
    margin: 10px 0 5px;
    font-weight: 600;
}
.skills-tools{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #b7b7b7;
    padding: 2%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.skills-section{
    margin-bottom: 20px;
}

.skills-section h3{
    font-size: 1.1em;
    margin-bottom: 10px;
}
.skills-section ul{
    list-style-type: none;
    padding: 0;
}
.skills-section ul li{
    background-color: #f1f1f1;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 3px;
}

.projects{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';
    flex: 2;
}
.projects h2{
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: 600;
    border-bottom: 1px solid black;
    padding-bottom: .5em;
}
.timeline-item a{
    text-decoration: none;
    color: blue;
}
.timeline-item a:hover{
    background-color: #343d68;
    font-size: 1.2em;
    color: white;
}

.education-section h2{
    font-weight: 600;
    display: inline-block;
    border-bottom: .05em solid black;
    padding-bottom: .25em;
    margin-bottom: .25em;
    width: 100%;
}

.education-section h3{
    font-weight: 500;
}

.education-section h4{
    font-weight: 400;
}

.date{
    font-size: .8em;
    color: rgb(80, 80, 80);
}
.language-section h2{
    margin-top: 5%;
    font-weight: 600;
    display: inline-block;
    border-bottom: .05em solid black;
    padding-bottom: .25em;
    margin-bottom: .25em;
    width: 100%;
}

.language-section h3{
    font-weight: 500;
}

.language-section ul{
    padding-left: 10%;
    list-style-type: square;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 10%;
    font-size: 1.2em;
}

.download{
    position: fixed;
    top: 90%;
    left: 90%;
    background-color: #343d68;
    padding: 1%;
    border-radius: 50%;
    font-size: 2em;
}
.download a{
    color: white;
}
::-webkit-scrollbar{
    width: 0.75rem;
  }
  
  ::-webkit-scrollbar-track{
    background-color: rgba(128, 128, 128, 0.437);
  }

  ::-webkit-scrollbar-thumb{
    background-color: #4462f59e;
    border-radius: 10%;
  }
@media(max-width: 700px){
    .wrapper{
        overflow-x: hidden;
        margin-top: 0;
        margin-bottom: 0;
    }
    .resume-wrapper{
        width: 100%;
    }
    .header{
        display: flex;
        flex-direction: column;
        padding-bottom: 5%;
    }
    .details{
        margin-left: 80%;
    }
    .header h1{
        font-size: 2em;
    }
    .header h2{
        font-size: 1.5em;
    }
    .contacts-div a{
        font-size: 1em;
        display: flex;
    }
    .skills-tools{
        width: 100%;
    }
    .download{
        visibility: hidden;
    }
}